.textfield-medium {
  position: relative;
  width: 225px;
  height: 100px;
}

.textfield-small {
  position: relative;
  width: 200px;
  height: 80px;
}

.textfield-label {
  position: absolute;
  left: 15px;
  color: var(--text-fiels-label);
  transform: translateY(-55%);
  background-color: var(--basic-hell);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: -10;
}

.textfield-label-standart {
  left: 0;
}

.textfield-label-medium {
  top: 45%;
  font-size: 18px;
  line-height: 24px;
}

.textfield-label-small {
  top: 37px;
  font-size: 14px;
  line-height: 20px;
}

.textfield-input {
  margin-top: 15px;
  top: 0;
  position: absolute;
  left: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.textfield-input-outlined {
  border: 1px solid var(--text-fiels-label);
  border-radius: 4px;
}

.textfield-input[type=date]~.textfield-label-medium,
.textfield-input[type=month]~.textfield-label-medium,
.textfield-input[type=time]~.textfield-label-medium {
  top: 5%;
}

.textfield-input[type=date]~.textfield-label-small,
.textfield-input[type=month]~.textfield-label-small,
.textfield-input[type=time]~.textfield-label-small {
  top: 8px;
}

.textfield-input-standart[type=date]~.textfield-label-medium,
.textfield-input-standart[type=month]~.textfield-label-medium,
.textfield-input-standart[type=time]~.textfield-label-medium {
  top: 15%;
}

.textfield-input-standart[type=date]~.textfield-label-small,
.textfield-input-standart[type=month]~.textfield-label-small,
.textfield-input-standart[type=time]~.textfield-label-small {
  top: 30%;
}

.textfield-input-medium {
  width: 225px;
  height: 55px;
  padding: 15px;
  font-size: 18px;
  line-height: 24px;
}

.textfield-input-small {
  width: 185px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
}

.textfield-input-outlined:hover:not(:focus-visible):not(:disabled) {
  border: 1px solid #000;
}

.textfield-input-outlined:focus-visible {
  border: 2px solid var(--basic-dark);
  cursor: text;
}

.textfield-input:focus-visible+.textfield-label {
  padding: 0 5px;
  color: var(--basic-dark);
  font-size: 13px;
  line-height: 19px;
  z-index: 10;
}

.textfield-input-outlined:focus-visible+.textfield-label {
  top: 13px;
}

.textfield-input:disabled {
  cursor: default;
  color: var(--text-fiels-label);
}

.set-label-outlined {
  padding: 0 5px;
  top: 15px;
  color: var(--text-fiels-label);
  font-size: 13px;
  line-height: 19px;
  z-index: 10;
}

.set-label-filled,
.set-label-standart {
  top: 30px;
  color: var(--text-fiels-label);
  font-size: 13px;
  line-height: 19px;
  z-index: 10;
  background-color: transparent;
}

.helper-text {
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-fiels-label);
}

.helper-text-small {
  font-size: 12px;
  line-height: 20px;
}

.error,
.error-input-outlined:focus-visible+.textfield-label,
.error-input-filled:focus-visible+.textfield-label,
.error-input-standart:focus-visible+.textfield-label {
  color: var(--error-color);
}

.error-input-outlined {
  border-color: var(--error-color);

}

.error-input-outlined:focus-visible {
  border: 2px solid var(--error-color);
}

.textfield-input-filled {
  height: 60px;
  padding: 15px 15px 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid #000;
}

.textfield-input-standart {
  height: 60px;
  padding: 15px 0 5px;
  background-color: transparent;
  border-bottom: 1px solid #000;
}


.textfield-input-filled:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.1);
}

.textfield-input-standart:hover:not(:disabled):not(:focus-visible) {
  border-bottom: 2px solid #000;
}


.textfield-input-filled:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: dotted;
}

.textfield-input-standart:disabled {
  opacity: .7;
  border-bottom-style: dotted;
}

.textfield-input-filled:focus-visible,
.textfield-input-standart:focus-visible {
  border-bottom: 2px solid var(--basic-dark);
  cursor: text;
}

.textfield-input-filled:focus-visible+.textfield-label,
.textfield-input-standart:focus-visible+.textfield-label {
  padding: 0;
  top: 30px;
  background-color: transparent;
}

.error-input-filled,
.error-input-standart {
  border-bottom: 2px solid var(--error-color);
}

.error-input-filled:focus-visible,
.error-input-standart:focus-visible {
  border-bottom: 2px solid var(--error-color);
}

.textfield-input-standart~.helper-text {
  left: 0;
}

.textfield-small .textfield-input-filled {
  height: 50px;
}

.standart-small~.helper-text {
  bottom: -15px;
}

.textfield-small .textfield-input-filled~.helper-text {
  bottom: -5px;
}