#root {
  --basic-hell: #fff;
  --basic-dark: #1976d2;
  --variant-outlinedBorder: rgba(25, 118, 210, 0.5);
  --variant-hell-BG: rgba(25, 118, 210, 0.04);
  --variant-dark-BG: #1565c0;
  --variant-active-dark-BG: #3b82f680;
  --variant-disabled-BG: rgba(0, 0, 0, 0.12);
  --variant-disabled-color: rgba(0, 0, 0, 0.26);
}


.reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 400;
  line-height: 1.15;
  overflow: visible;
  text-transform: none;
  user-select: none;
  outline: 0;
  text-decoration: none;
}